{% load static %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}" />
  </head>
  <body>
    <div class="login-card">
      <h1>Create Playlist</h1>
      <form method="POST">
        {% csrf_token %}
        <label for="name">Playlist Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="My Playlist"
          required
        />
        <button type="submit" class="login-btn">Create</button>
      </form>
    </div>
  </body>
</html>
